.product-container
{
  display: flex;
  margin-top: 132px;
  justify-content: center;
  padding-left: 140px;
  padding-right: 90px;
}

.product-image-container
{
  flex: 1;
  max-width: 780px;
  max-height: 780px;
}

.product-info-container
{
  width: 450px;
  padding-left: 50px;
}

.change-image-container
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 332px;
  margin: 0 auto;
}

.display
{
  position: absolute;
  animation-name: fade;
  animation-duration: 1s;
}

.main-image-container
{
  position: relative;
  padding-bottom: 100%;
}

.main-image
{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.change-image
{
  width: 68px;
  height: 68px;
  object-fit: contain;
  cursor: pointer;
}

.change-image-active
{
  border-width: 1px;
  border-style: solid;
  animation: image-active 0.4s forwards;
}

@keyframes image-active {
  from
  {
    border-color: transparent;
  }
  to
  {
    border-color: white;
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

.pop-up-image
{
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.9);
  height: 100%;
  width: 100%;
  z-index: 200;
  display: none;
  animation: fade 0.5s;
}

.close-popup
{
  position: absolute;
  top: 0;
  right: 40px;
  font-size: 60px;
  font-weight: bolder;
  color: white;
  cursor: pointer;
  z-index: 200;
}

.pop-up-picture
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: none;
  width: 800px;
  border: 5px solid rgb(85, 84, 83);
  border-radius: 5px;
  object-fit: cover;
}

.change-image-container-block
{
  margin-top: 15px;
}

.product-info-header
{
  color: rgb(229, 227, 219);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  width: 400px;
}

.product-price
{
  color: rgb(212, 175, 55);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2.8px;
  margin-top: 20px;
}

.product-shipping
{
  margin-top: 9px;
  color: rgb(229, 227, 219);
  font-size: 14px;
  font-weight: 600;
  width: 400px;
  line-height: 23.1px;
}

.product-shipping-link
{
  border-bottom: 0.3px solid rgb(229, 227, 219);
  padding-bottom: 1px;
  transition: color 0.3s, border-color 0.3s;
  cursor: pointer;
}

.product-shipping-link:hover
{
  color: rgb(212, 175, 55);
  border-color: rgb(212, 175, 55);
}

.product-amount
{
  margin-top: 24px;
  border: 3px solid rgb(30, 30, 30);
  display: inline-flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.product-amount-text
{
  font-size: 14px;
  font-weight: 600;
  color:rgb(212, 175, 55);
  padding-bottom: 3px;
  background-color: transparent;
  border: none;
  width: 36px;
  text-align: center;
}

.product-amount-minus, .product-amount-plus
{
  font-size: 20px;
  font-weight: 700;
  color: rgb(212, 175, 55);
  padding: 0px 20px;
  padding-top: 4px;
  padding-bottom: 10px;
  cursor: pointer;
  user-select: none;
}

.add-to-cart-container .custom-button
{
  margin-top: 24px;
  border: 2px solid rgb(30, 30, 30);
  border-radius: 10px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2.4px;
  color: rgb(212, 175, 55);
  padding: 16px 144px;
  cursor: pointer;
  --c: rgb(30, 30, 30);
}

.product-main-info-header
{
  color: rgb(229, 227, 219);
  font-size: 14px;
  font-weight: 700;
  border-top-color: rgb(85, 84, 83);
  border-top-width: 1px;
  border-top-style: solid;
  padding-top: 24px;
  margin-top: 92px;
}

.product-main-info-container
{
  width: 400px;
}

.product-main-info-body-header
{
  margin-top: 70px;
  font-size: 14px;
  font-weight: 700;
  color: rgb(229, 227, 219);
  margin-bottom: 30px;
}

.product-main-info-body
{
  color: rgb(229, 227, 219);
  font-size: 14px;
  font-weight: 600;
  margin-left: 20px;
  margin-bottom: 13px;
}

.product-main-info-body-disclaimer
{
  color: rgb(229, 227, 219);
  font-size: 14px;
  font-weight: 700;
  margin-top: 55px;
  margin-bottom: 25px;
}

.product-main-info-body-disclaimer-item, .product-main-info-body-disclaimer-footer
{
  color: rgb(229, 227, 219);
  font-size: 14px;
  font-weight: 600;
  line-height: 23px;
}

.product-main-info-body-disclaimer-footer
{
  margin-top: 50px;
}

.share-container
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 130px;
  margin-top: 25px;
}

.share-text
{
  color: rgb(212, 175, 55);
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 2.2px;
}

.share-logo
{
  height: 12px;
  width: 12px;
  object-fit:contain;
  cursor: pointer;
}

.you-may-also-like-container
{
  margin-top: 195px;
  margin-bottom: 100px;
}

.you-may-also-like-container .main-header
{
  color: rgb(229, 227, 219);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 3.6px;
  text-align: center;
}

.you-may-also-like-grid
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 60px;
  padding: 0 120px;
  margin-top: 75px;
}

.you-may-also-like-image
{
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.you-may-also-like-item-name ,.you-may-also-like-item-price
{
  color: rgb(229, 227, 219);
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2.4px;
  text-align: center;
  margin-top: 15px;
  cursor: pointer;
  text-transform: uppercase;
  transition: color 0.3s;
}

.you-may-also-like-item-price
{
  color: rgb(212, 175, 55);
  margin-top: 5px;
  cursor: auto;
}

.you-may-also-like-item-name:hover
{
  color: rgb(212, 175, 55);
}

@media screen and (max-width: 1150px) {

  .product-container {
    padding: 0 40px;
  }

  .you-may-also-like-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  .product-container
  {
    display: block;
    padding: 0;
    margin: 0 ;
  }

  .product-info-container
  {
    padding: 0;
    width: 100%;
    margin-top: 30px;
  }

  .product-info-header, .product-shipping
  {
    text-align: center;
    width: 100%;
  }

  .product-price
  {
    text-align: center;
  }

  .add-to-cart-container
  {
    display: flex;
    justify-content: center;
  }

  .product-amount-container
  {
    display: flex;
    justify-content: center;
  }

  .product-main-info-container
  {
    width: 100%;
  }

  .share-container
  {
    display: none;
  }

  .you-may-also-like-container
  {
    margin-top: 100px;
  }

  .you-may-also-like-grid
  {
    grid-template-columns: 1fr;
    row-gap: 30px;
    padding: 0 60px;
  }

  .change-image-container-block
  {
    margin-top: 73px;
  }

  .display
  {
    pointer-events: none;
    margin-top: 58px;
  }

  .add-to-cart-container .custom-button
  {
    padding: 14px 28px;
    width: 100%;
  }
}

