body
{
  transition: opacity 0.3s;
}

.main-body
{
  background-color: rgb(59, 59, 59);
  padding-bottom: 30px;
  padding-top: 75px;
}

.featured-collection-label {
  display: flex;
  justify-content: center;
  color: rgb(229, 227, 219);
  font-size: 12px;
  letter-spacing: 2.4px;
  font-weight: 700;
}

.featured-collection-option {
  display: flex;
  margin-top: 23px;
  justify-content: center;
}

.option-1,
.option-2 {
  color: rgb(229, 227, 219);
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 4px;
  cursor: pointer;
  position: relative;
  user-select: none;
}

.option-line-animation
{
  height: 1px;
  background-color: rgb(59, 59, 59);
  position: absolute;
  bottom: 0px;
  z-index: 1;
  left: 0;
  right: 0;
}

.option-active
{
  animation: optionLineAnimationStart 0.4s forwards;
}

.option-not-active
{
  animation: optionLineAnimationEnd 0.4s forwards;
}

@keyframes optionLineAnimationStart {
  from
  {
    transform: none;
  }
  to
  {
    transform: translateX(100%);
  }
}

@keyframes optionLineAnimationEnd {
  from
  {
    transform: translateX(100%)
  }
  to
  {
    transform: none;
  }
}

.option-line
{
  height: 1px;
  background-color: rgb(229, 227, 219);
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}

.option-2 .option-line
{
  z-index: 3;
}

.option-2 .option-line-animation
{
  z-index: 4;
}

.option-2 {
  margin-left: 45px;
}

.featured-collection-container
{
  position: relative;
  width: 100%;
}

.featured-collection-grid
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-right: 120px;
  padding-left: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 67px;
  opacity: 0;
  animation: grid-appear 0.5s forwards;
  animation-delay: 0.5s;
  animation-timing-function: ease-out;
}

.grid-hidden
{
  position: absolute;
  opacity: 0;
  bottom: 0;
  pointer-events: none;
  animation: grid-dissappear 0s;
}

.grid-dissappear
{
  animation: grid-dissappear 0.5s;
  animation-timing-function: ease-out;
}

@keyframes grid-appear {
  from
  {
    opacity: 0;
    transform: translateY(35px);
  }
  to
  {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes grid-dissappear {
from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(35px);
  }
}

.featured-item
{
  padding: 0 30px;
}

.featured-item-photo
{
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.featured-item-info
{
  font-size: 12px;
  font-weight: 700;
  color: rgb(229, 227, 219);
  text-align: center;
  width: 200px;
  letter-spacing: 2.4px;
  line-height: 20px;
  cursor: pointer;
  transition: color 0.3s;
  user-select: none;
}

.featured-item-info:hover
{
  color: rgb(212, 172, 55);
}

.featured-item-info-container
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 17px;
}

.featured-item-info-container .price
{
  margin-top: 5px;
  bottom: -24px;
  font-size: 12px;
  font-weight: 700;
  color: rgb(212, 172, 55);
  letter-spacing: 2.4px;
  user-select: none;
}

.custom-button
{
  --c: black;
    /* the color*/
  
    box-shadow: 0 0 0 .1em inset var(--c);
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background:
      var(--_g) calc(var(--_p, 0%) - 100%) 0%,
      var(--_g) calc(200% - var(--_p, 0%)) 0%,
      var(--_g) calc(var(--_p, 0%) - 100%) 100%,
      var(--_g) calc(200% - var(--_p, 0%)) 100%;
    background-size: 50.5% calc(var(--_p, 0%)/2 + .5%);
    outline-offset: .1em;
    transition: background-size .4s, background-position 0s .4s;
}

.custom-button:hover{
  --_p: 100%;
    transition: background-position .4s, background-size 0s;
}

.custom-button:active
{
  box-shadow: 0 0 9e9q inset #0009;
  background-color: var(--c);
  color: #fff;
}

.bottom-row .custom-button
{
  height: 52px;
  width: 232px;
  border-color: black;
  border-style: solid;
  border-radius: 9px;
  font-size: 12px;
  font-weight: 700;
  color: rgb(212, 172, 55);
  letter-spacing: 2.4px;
}

.catagory-info .custom-button
{
  height: 52px;
  width: 190px;
  border: white;
  border-style: solid;
  border-radius: 9px;
  font-size: 12px;
  font-weight: 700;
  color: rgb(212, 172, 55);
  letter-spacing: 2.4px;
  cursor: pointer;
}

.catagory-info .custom-button
{
  --c: white;
}

.featured-collection .bottom-row
{
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.catagories
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  margin-top: 79px;
  column-gap: 30px;
  row-gap: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.catagory-image-container
{
  position: relative;
  height: 700px;
  cursor: pointer;
  overflow: hidden;
}

.catagory-image
{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 6s;
}

.catagory-info
{
  position: absolute;
  bottom: 50px;
  left: 47px;
  z-index: 2;
}

.catagory-info-name
{
  font-size: 22px;
  font-weight: 700;
  color: rgb(229, 227, 219);
  letter-spacing: 4.4px;
  margin-bottom: 24px;
}

.blur
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.3);
  z-index: 1;
}

.catagory-image-container:hover .catagory-image
{
  transform: scale(1.2);
}

.newsletter
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsletter-logo
{
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.newsletter-info
{
  position: absolute;
  text-align: center;
}

.newsletter-info-text-1, .newsletter-info-text-2, .newsletter-info-text-3
{
  margin-bottom: 16px;
  font-size: 12px;
  font-weight: 700;
  color: rgb(229, 227, 219);
  letter-spacing: 2.4px;
}

.newsletter-info-text-2
{
  font-size: 20px;
  letter-spacing: 4px;
  margin-bottom: 25px;
}

.newsletter-info-text-3{
  font-size: 14px;
  font-weight: 600;
  letter-spacing: normal;
}

.input-container
{
  display: flex;
  width: 600px;
}

.newsletter-input
{
  flex: 1;
  border-color: rgb(229, 227, 219);
  border-style: solid;
  border-width: 3px;
  border-radius: 8px;
  background: none;
  font-size: 14px;
  font-weight: 600;
  color: rgb(229, 227, 219);
  padding-left: 10px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-right: 10px;
  margin-right: 20px;
}

.newsletter-input::placeholder
{
  font-size: 14px;
  font-weight: 600;
  color: rgb(229, 227, 219);
}

.newsletter-input:focus,
input:focus {
  outline: none;
}

.input-container .custom-button
{
    --c: rgb(229, 227, 219);
    height: 52px;
    width: 150px;
    border: rgb(229, 227, 219);
    border-style: solid;
    border-radius: 8px;
    border-width: 2px;
    font-size: 12px;
    font-weight: 700;
    color: rgb(229, 227, 219);
    letter-spacing: 2.4px;
    cursor: pointer; 
}

.input-container .custom-button:hover
{
  color: black;
}

@media screen and (max-width: 1150px) {
  .featured-collection-grid {
    grid-template-columns: 1fr 1fr;
    row-gap: 60px;
  }

  .catagories {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px)
{
  .featured-collection-grid {
     grid-template-columns: 1fr;
     padding: 0 60px;
    }

  .featured-item {
      padding: 0;
      margin-bottom: 30px;
    }

  .catagories
  {
    grid-template-columns: 1fr;
  }

  .input-container {
   display: block;
  }
}