.footer
{
  background-color: rgb(28, 27, 27);
  padding-top: 75px;
  padding-bottom: 42px;
  padding-left: 40px;
  padding-right: 40px;
}

.footer-item-container
{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}


.footer-menu, .reviews,  .newsletter-section
{
  flex: 1;
  padding-left: 40px;
  padding-right: 40px;
}

.social-media
{
  padding-left: 40px;
  padding-right: 40px;
  width: 380px;
}

.footer-menu-header-text
{
  color: rgb(212, 172, 55);
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2.4px;
  margin-bottom: 20px;
}

.footer-menu-body-text
{
  color: rgb(229, 227, 219);
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 12px;
  transition: color 0.3s;
  cursor: pointer;
}

.footer-menu-body-text:hover
{
  color: rgb(212, 172, 55);
}

.social-media .footer-menu-body-text
{
  text-decoration: underline;
}

.email-input
{
  background: none;
  color: rgb(229, 227, 219);
  border-color: white;
  border-style: solid;
  border-width: 2.4px;
  border-radius: 8px;
  padding: 12px 12px;
  font-size: 14px;
  font-weight: 600;
  width: 275px;
  margin-bottom: 18px;
}

.email-input::placeholder
{
  font-size: 14px;
  font-weight: 600;
  color: rgb(229, 227, 219);
}

.newsletter-section .custom-button {
  --c: rgb(229, 227, 219);
  height: 52px;
  width: 150px;
  border: rgb(229, 227, 219);
  border-style: solid;
  border-radius: 8px;
  border-width: 2px;
  font-size: 12px;
  font-weight: 700;
  color: rgb(229, 227, 219);
  letter-spacing: 2.4px;
  cursor: pointer;
}

.newsletter-section .custom-button:hover {
  color: black;
}

.newsletter-section .footer-menu-body-text
{
  margin-bottom: 18px;
}

.facebook-logo, .twitter-logo, .insta-logo
{
  height: 15px;
  width: 15px;
  object-fit: contain;
  cursor: pointer;
}

.social-media-item
{
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 110px;
}

.footer-menu-trademark
{
  font-size: 11px;
  color: rgb(229, 227, 219);
  font-weight: 700;
  letter-spacing: 2.2px;
  margin-left: 40px;
  margin-top: 170px;
  transition: color 0.3s;
  cursor: pointer;
}

.footer-menu-trademark:hover
{
  color: rgb(212, 172, 55);
}

.payment-container
{
  padding-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment-method
{
  height: 39px;
}

@media screen and (max-width: 1150px) {

  .footer-menu,
  .reviews,
  .newsletter-section,
  .social-media {
    padding: 0;
  }

  .social-media {
    flex: 1;
  }
}

@media screen and (max-width: 600px)
{
  .footer-item-container
  {
    display: block;
  }

  .footer-menu,
  .reviews,
  .newsletter-section,
  .social-media
  {
    padding: 0;
  }

  .footer
  {
    padding: 34px 24px;
  }

  .reviews, .social-media, .newsletter-section
  {
    margin-top: 48px;
  }

  .email-input
  {
    display: flex;
  }

  .footer-menu-trademark
  {
    margin: 0;
    margin-top: 60px;
    text-align: center;
  }

  .payment-container
  {
    display: none;
  }
}

